button:focus {outline:0;}

.backgroundcolor { background-color: white; }

/*productcell2*/
.productcell2 {
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0;
	/*width: 350px;*/
}

.productcell2 label { cursor: pointer; }
	.productcell2 label:not(.grey-label):hover {text-decoration: underline;}

.productcell2 .container{
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 100%;
	margin: 0px 5px;
	text-align: center;
	/*top: 50%;
	transform: translateY(-50%);*/
	float: left;
	background-color: white;
	padding-bottom: 10px;
}

.productcell2 .picture{
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 100%;
	/*height: 250px;*/
	padding-bottom: 71%;
	background-image: url("https://c.tadst.com/gfx/750w/sunrise-sunset-sun-calculator.jpg?1"); /* the root is entrenash */
	background-size: cover;
	background-position: center;
	cursor: pointer;
}

.productcell2 .words{
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 100%;
	/*height: 130px;*/
	padding-bottom: 37%;
	padding-bottom: 11%;
	background-color: white;
}

.productcell2 .text-container{
	position: relative;
	display: inline-block;
	/*top: 50%;
	transform: translateY(-50%);*/
	padding-left: 20px; 
	padding-right: 20px;
	text-align: left;
	width: calc(100% - 40px);
	height: 120px;
}

.productcell2 .text-container label.title {
	font-size: 1.2em; 
	position: relative; 
	display: inline-block; 
	margin: 0; 
	padding: 0;
	/*margin-top: 10px;*/
	font-size: 1.5em;
}

.productcell2 .grey-label{
	display: inline-block;
	font-style: italic;
	color: grey;
	font-size: 0.8em;
	font-weight: 300;
	top: 0;
	cursor: auto;
	text-align: left;
}
	.productcell2 .grey-label:hover {text-decoration: none;}

.productcell2 .grey-label.date {padding: 10px 0px;}
.productcell2 .grey-label.desc {padding: 10px 0px;}
.productcell2 .grey-label.price {
	position: absolute;
	display: inline-block;
	left: 0;
	padding: 0px 20px;
	height: 10px;
	top: 100%;
}

@media (min-width: 0px) {
	.productcell2 {width: 90%; margin: 20px 0px;}
}
@media (min-width: 768px) {
	.productcell2 {width: 350px; margin: 20px 20px;}
}
@media (min-width: 992px) {
	.productcell2 {/*width: 350px;*/ width: 350px; margin: 20px 20px;}
}

.cell2 {
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0;
}

.cell2 label { cursor: pointer; }
	.cell2 label:not(.grey-label):hover {text-decoration: underline;}

.cell2 .container{
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	/*width: 100%;*/
	margin: 0px 5px;
	text-align: center;
	/*top: 50%;
	transform: translateY(-50%);*/
	float: left;
	background-color: white;
	padding-bottom: 10px;
	width: calc(100% - 20px);
}

.cell2 .picture{
	position: relative; display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	/*width: 350px;*/
	/*height: 250px;*/
	padding-bottom: 71%;
	background-image: url("https://c.tadst.com/gfx/750w/sunrise-sunset-sun-calculator.jpg?1"); /* the root is entrenash */
	background-size: cover;
	background-position: center;
	cursor: pointer;
}

.cell2 .words{
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	/*width: 350px;*/
	height: 130px;
	/*padding-bottom: 37%;*/
	background-color: white;
}

.cell2 .text-container{
	position: relative;
	display: inline-block;
	/*top: 50%;*/
	/*transform: translateY(-50%);*/
	padding-left: 20px; 
	padding-right: 20px;
	width: calc( 100% - 40px);
}
.cell2 label.title {
	position: relative; display: inline-block; margin: 0; padding: 0;
	font-family: 'Slabo 27px', serif;
	text-transform: uppercase;
	font-size: 1.0em;
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	line-height: 1.5;

}

.cell2 .grey-label{
	position: relative;
	display: inline-block;
	font-style: italic;
	color: grey;
	font-size: 0.8em;
	font-weight: 300;
	top: 0;
	cursor: auto;
	overflow: hidden;
	margin-top: 10px;
}
	.cell2 .grey-label:hover {text-decoration: none;}
.cell2 label {
	max-height: 50px;
	overflow: hidden;
}

@media (min-width: 0px) {
	.cell2 {width: 90%; margin: 0px; margin-top: 10px; margin-bottom: 10px;}
}
@media (min-width: 768px) {
	.cell2 {/*width: 350px;*/ width: 33%; float: left; margin: 10px 0px;}
}
@media (min-width: 992px) {
	.cell2 {/*width: 350px;*/ width: 33%; float: left; margin: 10px 0px;}
}

.cell3 .title {
	font-family: 'Slabo 27px', serif;
	text-transform: uppercase;
	font-weight: 500;
}


/*cell 6 css*/
.cell6, .sidecell3 {
	display: inline-block;
	position: relative;
	margin: 10px 0px;
	padding: 0;
	/*width: 350px;*/
	border-radius: 5px;
	overflow: hidden;
}

.cell6 label, .sidecell3 label { cursor: pointer; }
	.cell6, .sidecell3 label:not(.grey-label):hover {text-decoration: underline;}

.cell6 .container, .sidecell3 .container{
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 100%;
	margin: 0px 5px;
	text-align: center;
	/*top: 50%;
	transform: translateY(-50%);*/
	float: left;
	background-color: white;
	padding-bottom: 10px;
}

.cell6 .picture, .sidecell3 .picture{
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 100%;
	/*height: 250px;*/
	padding-bottom: 64%;
	background-image: url("https://c.tadst.com/gfx/750w/sunrise-sunset-sun-calculator.jpg?1"); /* the root is entrenash */
	background-size: cover;
	background-position: center;
	cursor: pointer;
}

.cell6 .words, .sidecell3 .words{
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 100%;
	/*height: 130px;*/
	/*padding-bottom: 37%;*/
	background-color: white;
}

.cell6 .category, .sidecell3 .category {
	position: relative;
	display: inline-block;
	text-align: left;
	width: 90%;
	font-size: 0.3em;
	font-weight: 500;
	margin-top: 10px;
	margin-bottom: -10px;
	text-transform: uppercase;
	color: rgba( 135, 135, 145, 1);
}

.cell6 .title, .sidecell3 .title {
	position: relative;
	display: inline-block;
	text-align: left;
	width: 90%;
	font-size: 1.5em;
	font-weight: 500;
	color: #333333;
	margin-top: 5px;
	margin-bottom: 0px;
	height: 60px;
	overflow: hidden;
	font-family: asdf;
}

.cell6 .date, .sidecell3 .date {
	position: relative;
	display: inline-block;
	text-align: left;
	width: 90%;
	font-size: 0.4em;
	font-weight: 500;
	color: rgba( 135, 135, 145, 1);
	margin-top: 5px;
	margin-bottom: 10px;
}

.cell6 .text-container, .sidecell3 .text-container{
	position: relative;
	display: inline-block;
	/*top: 50%;
	transform: translateY(-50%);*/
	padding-left: 20px; 
	padding-right: 20px;
}

.cell6 .grey-label, .sidecell3 .grey-label{
	font-style: italic;
	color: grey;
	font-size: 0.8em;
	font-weight: 300;
	top: 0;
	cursor: auto;
}
	.cell6 .grey-label:hover, .sidecell3 .grey-label:hover {text-decoration: none;}

@media (min-width: 0px) {
	.cell6, .sidecell3 {width: 90%; margin: 0px; margin-top: 10px; margin-bottom: 10px;}
	.maincolumn1-container {width: 100%;}
	.sidecolumn1-container {display: none;}
	.youtubediv { pointer-events: auto; }
}
@media (min-width: 768px) {
	.cell6 {/*width: 350px;*/ width: 40%; margin: 10px 20px;}
	.maincolumn1-container {width: 75%;}
	.sidecolumn1-container {display: inline-block;}
	.youtubediv { pointer-events: none; }
}
@media (min-width: 768px) {
	.cell6 {/*width: 350px;*/ width: calc(33% - 40px); margin: 10px 20px;}
}
@media (min-width: 992px) {
	.cell6 {width: calc(33% - 40px);}
}



/*sidecell css*/
.sidecell2 {
	display: inline-block;
	position: relative;
	margin: 10px 0px;
	padding: 0;
	/*width: 350px;*/
	border-radius: 5px;
	overflow: hidden;
}

.sidecell2 label { cursor: pointer; }
	.sidecell2 label:not(.grey-label):hover {text-decoration: underline;}

.sidecell2 .container{
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 100%;
	margin: 0px 5px;
	text-align: center;
	/*top: 50%;
	transform: translateY(-50%);*/
	float: left;
	background-color: white;
	padding-bottom: 10px;
}

.sidecell2 .picture{
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 30%;
	/*height: 250px;*/
	padding-bottom: 30%;
	background-image: url("https://c.tadst.com/gfx/750w/sunrise-sunset-sun-calculator.jpg?1"); /* the root is entrenash */
	background-size: cover;
	background-position: center;
	cursor: pointer;
	float: left;
	border-radius: 5px;
}

.sidecell2 .words{
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 70%;
	/*height: 130px;*/
	/*padding-bottom: 37%;*/
	background-color: white;
	float: left;
}

.sidecell2 .title {
	position: relative;
	display: inline-block;
	text-align: left;
	width: 90%;
	font-size: 0.9em;
	font-weight: 400;
	color: #333333;
	margin-top: 5px;
	margin-bottom: 0px;
	height: 60px;
	height: 50px;
	overflow: hidden;
}

.sidecell2 .date {
	position: relative;
	display: inline-block;
	display: none;
	text-align: left;
	width: 90%;
	font-size: 0.4em;
	font-weight: 500;
	color: rgba( 135, 135, 145, 1);
	margin-top: 5px;
	margin-bottom: 10px;
}

.sidecell2 .text-container{
	position: relative;
	display: inline-block;
	/*top: 50%;
	transform: translateY(-50%);*/
	padding-left: 20px; 
	padding-right: 20px;
}

@media (min-width: 0px) {
	.sidecell2 {width: 90%; margin: 0px;}
	.maincolumn1-container, .postinternal1-container {width: 100%;}
	.sidecolumn1-container {display: none;}
}
@media (min-width: 768px) {
	.sidecell2 {width: calc(100% - 40px); margin: 10px;}
	.maincolumn1-container, .postinternal1-container {width: 75%;}
	.postinternal1-container {width: 70%;}
	.sidecolumn1-container {display: inline-block;}
}