.dropdown_1 .inner-dropbtn { background-color: white; color: #333; padding: 10px 10px; margin-top: 15px; font-size: 16px; border: 1px solid #333; border-radius: 5px; cursor: pointer; }
	.dropdown_1 .inner-dropbtn:hover, .dropbtn:focus { background-color: #f9f9f9; }
	.dropdown_1 .inner-dropdown { position: relative; display: inline-block; }
	.dropdown_1 .inner-dropdown-content { display: none; position: absolute; background-color: #f9f9f9; min-width: 160px; overflow: auto; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1; }
	.dropdown_1 .inner-dropdown-content a { color: black; padding: 12px 16px; text-decoration: none; display: block; text-align: left; }
	.dropdown_1 .inner-dropdown a:hover {background-color: #f1f1f1}
	.dropdown_1 .inner-dropdown .show { display:block; }