.register-container { display: inline-block; position: relative; margin: 0; width: 100%; height: 65%; background-image: url('/reusables/uploads/tribe.jpeg'); background-position: center; background-size: cover; background-repeat: no-repeat; text-align: center;padding-top: 50px; }
	.promoslider-container { height: 55%; }
	.articles-container { font-family: Open Sans, sans-serif; display: inline-block; float: left; margin: 0; margin-top: 10px; padding: 0; overflow: hidden; width: 100%; }
	.sponsorslider-container { height: 75%; }
	.promo-slider { background-color: white; }
	.promo-slider .backgroundimage { display: none; }
	.promo-slider .image { background-size: contain; }
	
	.sponsor-slider .image { background-size: contain; }
	.sponsor-slider .backgroundimage { display: none; }
	.sponsor-slider { background-color: white; }