.slim.all { border-radius: 0 !important; }
.slim.main { position: fixed; margin: 0; height: 60px; width: calc(100% - 50px); padding: 0; z-index: 1; box-shadow: 0px 0px 15px rgba(0,0,0,0.2); padding-right: 50px; background-color: white; }
	.slim_structure.main_withside.main { width: calc(100% - 150px); width: calc(100% - 200px); }
	.slim_structure .main_withside.maincolumn { height: 100%; text-align: left; }
	.slim_structure .main_withside.sidecolumn_right { height: 100%; text-align: right; }
	.slim.mobilenav { margin: 0; height: 200px; width: 100%; padding: 0; background-color: white; z-index: 3; left: 0; height: 200px; height: 100px; text-align: left; }
	.slim.desktopnav { left: 0; text-align: left; background-color: white; border-radius: 0 !important; }
		.slim.desktopnav .slim.wrapper { display: inline-block; position: relative; padding: 0 20px; cursor: pointer; height: 100%; }
		.slim.desktopnav .slim.wrapper a { display: inline-block; position: relative; margin: 0; padding: 0; width: 100%; height: 100%; }

		.slim.desktopnav a label { display: inline-block; position: relative; margin: 0; padding: 0; top: 50%; transform: translateY(-50%); float: left; pointer-events: none; font-weight: 300; }
			.slim.desktopnav a img { display: inline-block; position: relative; margin: 0; padding: 0 15px; height: auto; width: auto; max-width: 60%; max-height: 60%; float: left; top: 50%; transform: translateY(-50%); pointer-events: none; }
	.slim.topbarlogo { display: inline-block; position: relative; width: auto; border-style: solid; border-width: 0px; margin-left: 2em; top: 50%; margin-top: -20px; }
	.slim.desktopnav .slim.topbarlogo { height: 40px; }
	.slim.mobilenav .slim.topbarlogo { width: auto; height: auto; max-width: 60%; margin: 0; max-height: 100%; top: 50%;  transform: translateY(-50%); }
	.slim.dropdown { position: relative; display: inline-block; }
	
	.slim.dropdown-content { display: none; left: 0; position: absolute; background-color: #f9f9f9; width: 30%; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); padding: 12px 16px; padding: 12px 0px; z-index: 1; float: right;  right: 0; font-size: 2em; }
	.slim.dropdown-content a.slim#link { color: #333333; padding: 30px 20px; text-decoration: none; display: block; font-size: 0.7em; border-bottom: 1px solid #e0e0e0; border: 0; padding: 10px 10px; width: calc(100% - 20px); font-size: 13px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; max-width: 200px; }
		.slim.dropdown-content.fullwidth a.slim#link { display: inline-block; float: left; position: relative; }
		.slim.dropdown-content a.slim#link:hover { background-color: rgba(0,0,0,0.1); }
		.slim.desktopnav .slim.dropdown-content { background: white; width: calc(100% - 40px); box-shadow: none; margin-top: 60px; }

	.slim.desktopnav .slim.dropdown-content.fullwidth { max-height: 200px; overflow: hidden; }
	/*.slim:hover{ background-color: rgba(124,199,192, 0.6); }*/
	.slim.page:hover{ background-color: rgba(100,100,100,0.1); }

.slim.menubtn { width: auto; margin-right: 30px; height: 50%; top: 50% !important; transform: translateY(-50%); float: right; cursor: pointer; position: absolute; display: inline-block; }

.slim.logo-div h3, .slim.logo-div { text-decoration: none; color: #333333; text-transform: uppercase; margin-left: 20px; float: left; }
.slim.logo-div { margin: 0; padding: 0; min-width: 150px; max-width: 300px; height: 100%; }
.slim.logo-div h3 { display: inline-block; position: relative; margin: 0; /*margin-left: 20px;*/ padding: 0; top: 50%; transform: translateY(-50%); font-size: 15px; max-width: calc(300px - 100px) }
.slim.topbar-button { display: inline-block; position: relative; margin: 0 5px; padding: 0; background: transparent; float: right; text-decoration: none; color: #333333; top: 50%; transform: translateY(-50%); }
.slim.main { border-radius: 0; width: 100%; }
.slim.mobilenav .slim#brandname {  width: calc(100% - 10px); text-decoration: none; margin: 0; padding: 0; margin-left: 10px; color: #333333; display: inline-block; top: 50% !important; position: relative; transform: translateY(-50%); }
.slim.mobilenav .slim#brandlink { display: inline-block; position: relative; margin: 0; padding: 0; width: calc(100% - 80px); height: 100%; }
.slim.viewtype_nav.all { min-height: 25px; }
@media (min-width: 0px) {
	.slim.mobilenav {display: block;}
	.slim.desktopnav {display: none;}
}
@media (min-width: 768px) {
	.slim.mobilenav {display: none;}
	.slim.desktopnav {display: inline-block;}
	.slim.spacing { height: 60px; }
}
@media (min-width: 992px) {

}