.cell_2.main { display: inline-block; position: relative; margin: 0; padding: 0; }

	.cell_2 label { cursor: pointer; text-decoration: none; color: #333333; }
		.cell_2 label:not(.grey-label):hover {text-decoration: underline;}

	.cell_2.container{ position: relative; display: inline-block; margin: 0; padding: 0; margin: 0px 5px; text-align: center; float: left; background-color: white; padding-bottom: 10px; width: calc(100% - 10px); }

	.cell_2.picture{ position: relative; display: block; margin: 0; padding: 0; width: 100%; padding-bottom: 71%; background-image: url("https://c.tadst.com/gfx/750w/sunrise-sunset-sun-calculator.jpg?1"); background-size: cover; background-position: center; cursor: pointer; }

	.cell_2.words{ position: relative; display: block; margin: 0; padding: 0; width: 100%; height: 130px; background-color: white; }

	.cell_2.text-container{ position: relative; display: inline-block; padding-left: 20px;  padding-right: 20px; width: calc( 100% - 40px); }
		.cell_2.text-container a { text-decoration: none; }
	.cell_2 label.title { position: relative; display: inline-block; margin: 0; padding: 0; font-family: 'Slabo 27px', serif; text-transform: uppercase; font-size: 1.0em; position: relative; display: inline-block; margin: 0; padding: 0; line-height: 1.5; }

	.cell_2.grey-label{ position: relative; display: inline-block; font-style: italic; color: grey; font-size: 0.8em; font-weight: 300; top: 0; cursor: auto; overflow: hidden; margin-top: 10px; }
		.cell_2.grey-label:hover {text-decoration: none;}
	.cell_2 label { max-height: 50px; overflow: hidden; }

@media (min-width: 0px) {
	.cell_2.main {width: 90%; margin: 0px; margin-top: 10px; margin-bottom: 10px;}
}
@media (min-width: 768px) {
	.cell_2.main {/*width: 350px;*/ width: calc( 33.33% - 0px); float: left; margin: 10px 0px;}
}
@media (min-width: 992px) {
	.cell_2.main {/*width: 350px;*/ width: calc( 33.33% - 0px); float: left; margin: 10px 0px;}
}

.cell_2.hide { display: none; }