.text_inimage_tall.main { display: inline-block; position: relative; margin: 0; padding: 0; }

	.text_inimage_tall label { cursor: pointer; text-decoration: none; color: #333333; }
		.text_inimage_tall label:not(.grey-label):hover {text-decoration: underline;}

	.text_inimage_tall.container{ position: relative; display: inline-block; margin: 0; padding: 0; margin: 0px 5px; text-align: center; float: left; background-color: white; padding-bottom: 10px; width: calc(100% - 10px); }

	.text_inimage_tall.picture{ position: relative; display: block; margin: 0; padding: 0; width: 100%; padding-bottom: 120%; background-image: url("https://c.tadst.com/gfx/750w/sunrise-sunset-sun-calculator.jpg?1"); background-size: cover; background-position: center; cursor: pointer; }

	.text_inimage_tall.words{ position: absolute; display: block; bottom: 0; margin: 0; padding: 0; width: 100%; height: 90px; }

	.text_inimage_tall.text-container{ position: relative; display: inline-block; padding-left: 20px;  padding-right: 20px; width: calc( 100% - 40px); }
		.text_inimage_tall.text-container a { text-decoration: none; }
	.text_inimage_tall label.title { position: relative; display: inline-block; margin: 0; padding: 0; text-transform: uppercase; font-size: 1.0em; position: relative; display: inline-block; margin: 0; padding: 0; line-height: 1.5; color: white; max-height: 17px; }

	.text_inimage_tall.grey-label{ position: relative; display: inline-block; color: grey; font-size: 13px; font-weight: 100; top: 0; cursor: auto; overflow: hidden; margin-top: 10px; color: rgba(255, 255, 255, 0.9); max-height: 17px; }
		.text_inimage_tall.grey-label:hover {text-decoration: none;}
		.text_inimage_tall.gradient { position: absolute; display: inline-block; margin: 0; padding: 0; width: 100%; height: 100%; background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1)); }
	.text_inimage_tall label { max-height: 50px; overflow: hidden; }
	.text_inimage_tall.category { display: inline-block; position: relative; margin: 0; text-decoration: none; color: #555555; font-weight: 200; font-size: 13px; padding: 8px; }

@media (min-width: 0px) {
	.text_inimage_tall.main {width: 90%; margin: 0px; margin-top: 10px; margin-bottom: 10px;}
}
@media (min-width: 768px) {
	.text_inimage_tall.main {/*width: 350px;*/ width: calc( 33.33% - 0px); float: left; margin: 10px 0px;}
}
@media (min-width: 992px) {
	.text_inimage_tall.main {/*width: 350px;*/ width: calc( 33.33% - 0px); float: left; margin: 10px 0px;}
}

.text_inimage_tall.hide { display: none; }