.colorpicker { display: inline-block; position: relative; margin: 0; padding: 0; float: left; /*width: 100%;*/ text-align: left; }
	.colorpicker label { display: inline-block; position: relative; margin: 0; padding: 6px 0; width: calc(100% - 0px); font-weight: 600; font-size: 14px; }
	.colorpicker input { display: inline-block; position: relative; margin: 0; padding: 6px; width: calc(100% - 0px); font-size: 14px; font-weight: 400; color: #333333; background-color: white; border: 1px solid #e0e0e0; border-radius: 5px; }

.colorpicker.size_small { width: calc(33% - 20px); padding-left: 10px; padding-right: 10px; }
.colorpicker.size_medium { width: calc(50% - 10px); padding-left: 10px; padding-right: 10px; }
.colorpicker.size_large { width: calc(100% - 20px); padding-left: 10px; padding-right: 10px; }