.textfield { display: inline-block; position: relative; margin: 0; padding: 0; float: left; /*width: 100%;*/ text-align: left; }
	.textfield label { display: inline-block; position: relative; margin: 0; padding: 6px 0; width: calc(100% - 0px); font-weight: 600; font-size: 14px; }
	.textfield input { display: inline-block; position: relative; margin: 0; padding: 6px; width: calc(100% - 0px); font-size: 14px; font-weight: 300; color: #333333; background-color: white; border: 1px solid #e0e0e0; border-radius: 5px; }


.textfield.size_small { width: calc(33% - 0px); padding-left: 0px; padding-right: 0px; }
.textfield.size_medium { width: calc(50% - 0px); padding-left: 0px; padding-right: 0px; }
.textfield.size_large { width: calc(100% - 0px); padding-left: 0px; padding-right: 0px; }