.textfield { display: inline-block; position: relative; margin: 0; padding: 0; float: left; /*width: 100%;*/ text-align: left; }
	.textfield .basic_label.main .basic_label.title { padding-top: 20px; }
	.textfield label { display: inline-block; position: relative; margin: 0; padding: 6px 0; width: calc(100% - 0px); font-weight: 600; font-size: 14px; }
	.textfield input { display: inline-block; position: relative; margin: 0; padding: 6px; width: calc(100% - 0px); font-size: 14px; font-weight: 300; color: #333333; background-color: white; border: 1px solid #e0e0e0; border-radius: 5px; }


@media (min-width: 0px) {
	.textfield.size_small, .textfield.size_medium, .textfield.size_large { width: calc(100% - 40px); padding-left: 20px; padding-right: 20px; }
}

@media (min-width: 768px) {
	.textfield.size_small { width: calc(33% - 10px); padding-left: 5px; padding-right: 5px; }
	.textfield.size_medium { width: calc(50% - 10px); padding-left: 5px; padding-right: 5px; }
	.textfield.size_large { width: calc(100% - 10px); padding-left: 5px; padding-right: 5px; }
}
