.viewtype_input.wysi { display: inline-block; width: calc(100% - 20px); padding-left: 10px; padding-right: 10px; }
.wysi { display: inline-block; position: relative; margin: 0; padding: 0; float: left; /*width: 100%;*/ }
	.wysi .basic_label.main { width: 100%; }
	.wysi .basic_label.main .basic_label.title { text-align: left; padding-top: 20px; }
	.wysi label { display: inline-block; position: relative; margin: 0; padding: 10px 0; width: calc(100% - 0px); font-weight: 600; font-size: 14px; margin-bottom: -5px; }
	.wysi textarea { display: inline-block; position: relative; margin: 0; padding: 10px; width: calc(100% - 20px); font-size: 14px; font-weight: 400; color: #333333; background-color: white; border: 1px solid #e0e0e0; border-radius: 5px; height: 100px; }
.cke_editable img { max-width: 100%; }


.wysi.size_small { width: calc(33% - 0px); padding-left: 0px; padding-right: 0px; }
.wysi.size_medium { width: calc(50% - 0px); padding-left: 0px; padding-right: 0px; }
.wysi.size_large { width: calc(100% - 0px); padding-left: 0px; padding-right: 0px; }
