.featuredsection_2 { position: relative; display: inline-block; margin: 0; padding: 0; max-width: 1200px; width: 100%; }
	.featuredsection_2 .headercontainer { position: relative; display: inline-block; margin: 0; padding: 0; width: 100%; }
		.featuredsection_2 .headercontainer .line { position: absolute; display: inline-block;width: inherit;height: 1px; background-color: #333333;margin: 0;padding: 0; top: 50%; margin-top: -0.5px; left: 0; }
		.featuredsection_2 .headercontainer label {z-index: 1; position: relative;display: inline-block;margin: 0;float: left;margin-left: 70px;padding: 10px;text-transform: uppercase;}

.featuredsection_2 .cell2 .container {margin-left: 10px;margin-right: 10px;}

.featuredsection_2 .adset3 {display: inline-block;padding: 0;top: 0;position: relative;}
.featuredsection_2 .adset3 img {position: relative; display: inline-block;margin: 0;padding: 0;background-color: #e0e0e0; }

@media (min-width: 0px) {
	.featuredsection_2 .adset3 { width: 90%; margin: 0; float: none;}
}
@media (min-width: 768px) {
	.featuredsection_2 .adset3 { width: 56%; margin: 10px 19px 10px 6%; float: left; }
}