.images_title_inline{ position: relative; display: inline-block; margin: 0; padding: 0; width: 100%; text-align: center; }
	.images_title_inline.picture { position: relative; margin: 0; background-size: cover; background-position: center; margin: 2px; }
	.images_title_inline#greybox { position: relative; display: inline-block; margin: 0; padding: 0; width: 250px; height: 40px; background-color: grey; color: white; bottom: 0; }
	.images_title_inline.words { position: relative; display: block; margin: 0; padding: 0; width: auto; height: 100px; background-color: white; }
	.images_title_inline.text-container { position: relative; display: inline-block; top: 50%; transform: translateY(-50%); width: 100%; }
	.images_title_inline.grey-label { font-style: italic; color: grey; font-size: 2em; }

@media (min-width: 0px) {
	.images_title_inline.picture.one, .picture.three {display: none;}
	.images_title_inline.picture {width: 100%; padding: 0; padding-bottom: 68%;}
	.images_title_inline.graylabel {margin-top: calc(68% - 38px);}
}
@media (min-width: 768px) {
	.images_title_inline.picture {display: inline-block;}
	.images_title_inline.picture.one, .picture.three {display: inline-block;}
	.images_title_inline.picture {width: 32%; padding: 0; padding-bottom: 28%;}
	.images_title_inline.graylabel {margin-top: calc(28% - 38px);}
}