.purchase_1 { display: inline-block; position: relative; margin: 0; padding: 0; width: 100%; }
	.purchase_1 .header { display: inline-block; position: relative; margin: 0; padding: 20px; width: calc( 100% - 40px); text-align: center; }
		.purchase_1 .header h1 { display: inline-block; position: relative; margin: 0; padding: 5px; width: calc( 100% - 10px); font-weight: 400; }
		.purchase_1 .header label { display: inline-block; position: relative; margin: 0; padding: 5px; width: calc( 100% - 10px); }
	.purchase_1 .tf-wrapper { display: inline-block; margin: 10px; padding: 0; position: relative; width: 100%; text-align: left; }
	.purchase_1 .tf-wrapper .tf-header { display: inline-block; position: relative; font-weight: 700; font-size: 12px; }
		.purchase_1 .tf-wrapper .customtf { display: inline-block; position: relative; margin: 10px 0; padding: 10px 0px; width: calc( 100% - 0px); background: transparent; border: 0; border-bottom: 1px solid #e0e0e0; font-size: 13px; }
		.purchase_1 .tf-wrapper.half { width: calc( 50% - 20px ); float: left; }
			.purchase_1 .tf-wrapper .customtf#amount { text-align: right; font-size: 30px; font-weight: 700; }
			.purchase_1 .tf-wrapper .customtf:focus { outline: none; }
		.purchase_1 .fund-btn { display: inline-block; position: relative; margin: 0; padding: 10px; color: white; background-color: blue; border: 0; -webkit-appearance: none; border-radius: 5px; float: left; font-size: 15px; cursor: pointer; }
	@media (min-width: 0px) {
		
	}
	@media (min-width: 768px) {
		
	}
	@media (min-width: 992px) {

	}