.titledesc_1.main { display: inline-block; position: relative; margin: 0; padding: 0; width: 100%; min-height: 200px; }
	.titledesc_1#title { margin: 0; }
	.titledesc_1#desc { margin-top: 30px; font-weight: 400; }
