.sharingbtns_1 { position: relative; margin: 0; padding: 0; width: 100%; }
.sharingbtns_1 .sharingbuttons {position: relative; height: 40px; border: 0; border-radius: 3px; margin-top: 10px; margin-bottom: 5px; font-size: 1.1em; font-weight: 400; border-bottom: 3px solid rgba(0,0,0,0.3); display: inline-block;}
	.sharingbtns_1 .sharingbuttons p {position: relative; display: inline-block; padding: margin: 0; margin-left: 10px; text-decoration: none; color: white; padding-right: 15px; height: 1em; top: 46%; margin-top: -0.5em; float: left; font-size: 0.9em;  font-weight: 500; text-shadow: 1px 1px 0px rgba(0,0,0,0.3);}
	.sharingbtns_1 .sharingbuttons img {position: relative; display: inline-block; height: 20px; width: auto; padding: 0; margin: 0; padding-left: 10px; top: 50%; margin-top: -10px; float: left;}
	.sharingbtns_1 .sharingbuttons#fb {background-color: #3b5998;}
	.sharingbtns_1 .sharingbuttons#twitter {background-color: #55ACEE; margin-left: 20px;}

@media (min-width: 0px) {
	.sharingbtns_1 { display: none; }
}
@media (min-width: 768px) {
	.sharingbtns_1 { display: inline-block; }
}