.socialpagesbtns_1 { position: relative; display: inline-block; margin: 0; padding: 0; }
.socialpagesbtns_1 .social-icon { position: relative; display: inline-block; margin: 0px 5px; padding: 0; height: 40px; width: 40px; border-radius: 5px; border: 1px solid #cecece; background-color: #00ADD7; float: left; cursor: pointer; background-size: 60%; background-position: center; background-repeat: no-repeat; }
/*.socialpagesbtns_1 .social-icon:hover { -webkit-filter: grayscale(0%); filter: grayscale(0%); }*/

.socialpagesbtns_1 a {display: inline-block;}
.socialpagesbtns_1 .social-icon.facebook {background-image: url('/reusables/uploads/icons/facebook-icon.png');}
.socialpagesbtns_1 .social-icon.twitter {background-image: url('/reusables/uploads/icons/twitter-icon.png');}
.socialpagesbtns_1 .social-icon.instagram {background-image: url('/reusables/uploads/icons/insta-icon.png');}
	.socialpagesbtns_1 .social-icon.facebook:hover {border: 2px solid #3b5998}
	.socialpagesbtns_1 .social-icon.twitter:hover {border: 2px solid #4099FF}
	.socialpagesbtns_1 .social-icon.instagram:hover {border: 2px solid #8a3ab9}