.slider_1 { position: relative;  display: inline-block;  text-align: center;  overflow: hidden; width: 1200px; }
	.slider_1 .cell2 .container { margin-left: 10px; margin-right: 10px; }
	.slider_1 .sliderobj { float: left; display: inline-block; position: relative; }